<div class="container">
  <section id="home">
    <div class="title-section">
      <div class="title">
        <h1>Leon <br> Brimacombe</h1>
        <h2>Fullstack Developer</h2>
      </div>
      <%= image_tag 'headshot.jpg', :alt =>"leon-headshot-photo"%>
    </div>
    <%= link_to "View my work ↓", "#projects", :class => "button-primary"%>
  </section>

  <nav>
    <ul class="navigation">
      <li>
        <a href="#contact">Contact</a>
      </li>

      <li>
        <a href="#projects">Projects</a>
      </li>

      <li>
        <a href="#about">About</a>
      </li>

      <li>
        <a href="#home">Home</a>
      </li>
    </ul>
  </nav>


  <section id="about">
    <i class="fa-solid fa-circle-user icon animate slide delay-2" style="animation-timeline: view();"></i>
    <p class="intro">
      Fueled by a personal commitment to learning and growth, I have found a love for the ever-evolving world of software. For me, programming sits at the intersection of creativity, methodical thinking, and steep learning curves, providing the perfect challenge. Whether it's building custom solutions or diving into new frameworks, each obstacle gives a new opportunity to innovate and invent.
    </p>

    <div class="tech-stack">
      <div class="tech delay-1" style="animation-timeline: view();">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/f/f1/Ruby_logo.png", :alt => "ruby-logo"%>
        <p>Ruby</p>
      </div>

      <div class="tech delay-2" style="animation-timeline: view();">
        <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png" , :alt => "python-logo"%>
        <p>Python</p>
      </div>

      <div class="tech delay-3" style="animation-timeline: view();">
        <%= image_tag "https://static.vecteezy.com/system/resources/previews/027/127/463/non_2x/javascript-logo-javascript-icon-transparent-free-png.png", :alt=>"javascript-logo"%>
        <p>Javascript</p>
      </div>

      <div class="tech delay-4" style="animation-timeline: view();">
        <%= image_tag "https://cdn.iconscout.com/icon/free/png-256/free-html-5-logo-icon-download-in-svg-png-gif-file-formats--programming-langugae-language-pack-logos-icons-1175208.png", :alt => "HTML-logo"%>
        <p>HTML</p>
      </div>

      <div class="tech delay-5" style="animation-timeline: view();">
        <%= image_tag "https://sass-lang.com/assets/img/styleguide/seal-color.png", :alt => "SCSS-logo"%>
        <p>SCSS</p>
      </div>

      <div class="tech delay-6" style="animation-timeline: view();">
        <%= image_tag "https://huyza.gallerycdn.vsassets.io/extensions/huyza/dax-language/0.0.2/1628621363691/Microsoft.VisualStudio.Services.Icons.Default", :alt => "DAX-logo"%>
        <p>DAX</p>
      </div>

      <div class="tech delay-7"  style="animation-timeline: view();">
        <%= image_tag "https://static.wixstatic.com/media/816382_bd664a10b4ec4239b7f9739dbd210863~mv2.png/v1/fill/w_420,h_420,al_c,lg_1,q_85/816382_bd664a10b4ec4239b7f9739dbd210863~mv2.png", :alt => "PowerFX-logo"%>
        <p>PowerFX</p>
      </div>
    </div>

    <%= link_to "More about me", "#background", class: "button-secondary", id: "show-toggle"%>
    <%= link_to "Less about me", "#about", class: "button-secondary", id: "hide-toggle", style: "display: none;"%>

    <div id="background" style="display: none;">
      <h3> Background </h3>
      <p>
        Hello! I am Leon, a driven career changer with three years experience in <strong>supply chain</strong>, geering up to focus my background in <strong>data management</strong> and <strong>analytics</strong> into development. In my career so far, I have discovered the key to my professional fulfillment is continuous learning. When I first encountered programming, using R for statistical analysis in my <strong>Economics degree</strong>, I spent hours beyond the scope of the course creating descriptive statistics visuals. The ability to translate intricate information into digestible material opened the gateway for my love of code.
      </p>
      <p>
        Fast forward to my career in supply chain, I began with data analytics using <strong>DAX</strong> and <strong>SQL</strong> and three years later ended up building my first custom platform for internal use. Over the following 4 months I developed three platforms and began <strong>collaborating with other business functions</strong> across sales, finance and operations to support their diverse needs.
      </p>
      <p>
        Having little resources and relying heavily on my own curiosity and research ability was energising and ultimately ignited my move into software engineering. Landing me where I am today, with <strong>450+ hours</strong> of coding under my belt and a <strong>BCS-accredited certificate</strong> in Web Development with AI, I am excited to focus my unique operational perspective into a dynamic development team where I can continue learning and have an impact.
      </p>
    </div>
  </section>


  <section id="projects">
    <h3>Projects</h3>

    <div class="project project-left">
      <%= image_tag "property-sphere.png", :alt => "property-sphere-landing-page"%>
      <div class="project-info">
        <div class="project-title">
          <h4>Property Sphere</h4>
          <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/f/f1/Ruby_logo.png", :alt => "ruby-logo", :style => "width: 15px; height:15px;"%>
        </div>
        <p>A centralised search and organisational tool that scrapes major sites and leverages location APIs to offer advanced filtering</p>
        <p>Led a team of four from conception to deployment</p>
        <%= link_to "Live App", "https://property-sphere-f0c399e44756.herokuapp.com/", :class => "button-primary"%>
        <%= link_to "Learn More", "https://github.com/LeonBrimacombe/property-sphere", :class => "button-secondary"%>
      </div>
    </div>

    <div class="project project-right">
      <div class="project-info">
        <div class="project-title">
          <h4>Tool Shared</h4>
          <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/f/f1/Ruby_logo.png", :alt => "ruby-logo", :style => "width: 15px; height:15px;"%>
        </div>
        <p>A market place for users to list and rent tools in their local area</p>
        <p>Led a team of four from conception to deployment</p>
        <%= link_to "Live App", "", :class => "button-primary"%>
        <%= link_to "Learn More", "https://github.com/LeonBrimacombe/tool-shared", :class => "button-secondary"%>
      </div>
      <%= image_tag "tool-shared.jpg", :alt => "tool-shared-landing-page"%>
    </div>

    <div class="project project-left">
      <%= image_tag "tool-shared.jpg", :alt => "tool-shared-landing-page"%>
      <div class="project-info">
        <div class="project-title">
          <h4>Sales Profitability Calculator</h4>
          <%= image_tag "https://static.wixstatic.com/media/816382_bd664a10b4ec4239b7f9739dbd210863~mv2.png/v1/fill/w_420,h_420,al_c,lg_1,q_85/816382_bd664a10b4ec4239b7f9739dbd210863~mv2.png", :alt => "PowerFX-logo", :style => "width: 20px; height:20px;"%>
        </div>
        <div>
          <p>A customer-facing sales tool displaying profit comparisons for home versus competitor brands.</p>
          <p>Used across a 45-person sales team, team member inputs populate a sales agreement, that is signed and emailed to customer in-app. </p>
          <p>Sole developer from conception to deployment</p>
        </div>
      </div>
    </div>

    <div class="project project-right">
      <div class="project-info">
        <div class="project-title">
          <h4>Stock Ordering Portal</h4>
          <%= image_tag "https://static.wixstatic.com/media/816382_bd664a10b4ec4239b7f9739dbd210863~mv2.png/v1/fill/w_420,h_420,al_c,lg_1,q_85/816382_bd664a10b4ec4239b7f9739dbd210863~mv2.png", :alt => "PowerFX-logo", :style => "width: 20px; height:20px;"%>

        </div>
        <p>A internal stock ordering portal that takes customer orders and output details in an email to the fulfilment team.</p>
        <p>Used across a 45-person sales team, and integrated into teams for user convenience</p>
        <p>Sole developer from conception to deployment</p>
      </div>
      <%= image_tag "stock-request.jpg", :alt => "tool-shared-landing-page"%>
    </div>
  </section>

  <section id="wips">
    <h3>Works in Progress</h3>
    <div class="wips">
      <i class="fa-solid fa-clipboard-check icon"></i>
      <div>
        <p>Currently working on a freelance Python platform with Django showing users their homes energy consumption accessed via In-home Dispay (IHD) APIs.</p>
        <p>To be integrated with clients technical product.</p>
      </div>
    </div>
  </section>

  <section id="contact">
    <h3>Contact</h3>
    <p>If you you would like to know more or want to work together, you can leave me your details to start a conversation. </p>
    <%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true, class: "container contact", id: "contact-form" do |form| %>
      <div class="form-group">
        <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
      </div>
      <div class="form-group">
        <%= form.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>
      <div class="form-group">
        <%= form.text_area :message, class: "form-control", placeholder: "Message" %>
      </div>
      <%= form.submit "Submit", class: "button-secondary" %>
    <% end %>
  </section>

  <section id="footer">
    <div class="socials">
      <a class="link-icons" href="https://github.com/LeonBrimacombe" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a class="link-icons" href="https://www.linkedin.com/in/lbrimacombe/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <p>LEON BRIMACOMBE ©2024</p>
  </section>
</div>
